@{
    ViewBag.Title = "Error";
}

<header>
    <h1 class="text-danger">Error</h1>
</header>

<p>@ViewBag.ErrorMessage</p>

<a class="btn btn-primary" asp-action="Index" asp-controller="Address">Back to Home</a>