@{
    ViewBag.Title = "Server Error - 500";
}

<header>
    <h1 class="text-danger">Server Error</h1>
</header>

<p>Sorry something went wrong. Try again later.</p>

<a class="btn btn-primary" asp-action="Index" asp-controller="Address">Back to Home</a>