@using AddressBook.DataTransferModels
@model AddressDTM

@{
    ViewData["Title"] = "Add Address";
}

<h4>Address</h4>
<hr />

@await Component.InvokeAsync("AddAddress", new { address = Model })

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
