@using AddressBook.DataTransferModels
@model AddressDTM

@{
    ViewData["Title"] = "Add Address";

}

<h4>Address</h4>
<hr />

@await Component.InvokeAsync("AddAddress", new { address = Model })

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
