@using AddressBook.Models
@model UserModel

@{
    ViewData["Title"] = "Address Book";
}

<header>
    <h1>Address Book</h1>
</header>

<a class="btn btn-primary" asp-action="AddAddress" asp-controller="Address">Add Address</a>

<section>
    @if (Model.Users.Count > 0)
    {
        <partial name="_AddressTablePartial" model="@Model.Users" />
    }
    else
    {
        <p>No addresses found.</p>
    }
</section>